[2020-11-17 17:42] tcarval opened #1 "register Ramses and OPUS-DS sensors"
Henry B. requests two new sensors for German BGC-Argo floats to be deployed in early 2021.
These sensors are pilot stage 1, their data will be distributed in the "aux" (unregulated) directory

**OPUS-DS (in Spectrophotometers)**
SENSOR_MODEL	OPUS_DS
SENSOR_MAKER	TRIOS
COMMENTS	UV absorption to derive nitrate and bisulfide (TRIOS)
SENSOR   	SPECTROPHOTOMETER_NITRATE, SPECTROPHOTOMETER_BISULFIDE
SHO

[2020-11-17 18:07] tcarval commented on #1
OPUS-DS and RAMSES sensors are now declared on http://tinyurl.com/nwpqvp2
**Should be formally approved by Mathieu or John (the tables 22 - 28 editors)**

[2020-11-18 09:23] mbelbeoch commented on #1
ok for me. I add this in the OceanOPS DB as well.

[2020-11-24 10:47] matdon17 opened #2 "DEPLOYMENT_PLATFORM : unambiguous ship name and codes"
The Argo metadata field DEPLOYMENT_PLATFORM is currently populated in a wide variety of ways, with different entries for the same ship even at the same DAC.  The C17 ICES platform code vocabulary is already used within the Ocean OPS system, and if adopted for use inside the Argo NetCDF files, we will need to consider the form it takes.

An examples would be to use the full identifier, e.g. “SDN:C1

[2020-11-24 10:50] matdon17 opened #3 "Investigate constraining cruise names against one or more vocabs"
The Argo metadata field DEPLOYMENT_CRUISE_ID is rarely populated, but inconsistently when it is.  To improve utility of this field, a way to better constrain its contents needs to be considered.  As there is no global master index of cruises, we may have to use more than one controlled vocabulary from more than one source.

[2020-11-24 10:52] matdon17 opened #4 "Investigate ways to improve CTD on deployment metadata"
The Argo metadata field DEPLOIYMENT_REFERENCE_STATION_ID is rarely populated and of low utility when it is due to the type on content included.  We need to assess pootential ways to make this field more useful in actually locating CTD on deployment information.

[2020-11-24 11:04] matdon17 opened #5 "The population of PROJECT_NAME is currently unconstrained and seemingly used for 2 different concepts"
“PROJECT_NAME” in Argo files is currently and unconstrained free-text field, defined as:
“Name of the project which operates the profiling float that performed the profile”

It is synonymous with “Program” as used on Ocean OPS.  Here it is populated with a mixture of:
 - Time-limited ‘projects’ e.g. EU “MERSEA”, French “SOCLIM”
 - Ongoing ‘Argo programmes’, e.g. British “Argo UK”, American “Argo U

[2020-11-24 11:05] matdon17 opened #6 "The PI_NAME field is current free-text and unconstrained"
PI_NAME is a free-text field with no links to an external resource. and as a result may not clearly identify a person uniquely.

PI_NAME has all sorts of variant ways of being populated, including cases, initials, honorifics, etc. Examples include:
Virginie THIERRY
B. Klein
Dr. Birgit Klein
BRECK OWENS, STEVEN JAYNE, P.E. ROBBINS
Pierre-Marie Poulain
M Ravichandran
DEAN ROEMMICH
GREGORY C. JOHNSON

[2020-11-24 11:08] matdon17 opened #7 "The FLOAT_OWNER field is not constrained and populated in different ways"
In Argo metadata, FLOAT_OWNER is in addition to PI_NAME, OPERATING_INSTITUTION, DATA_CENTRE

Variously an institution, a person’s name (or list of people), a DAC, or blank. Examples:
BRECK OWENS
MAURICIO M. MATA
UK Met Office
BRECK OWENS, STEVE JAYNE, P.E. ROBBINS
STEVE RISER
CSIRO
WHOI: WIJFFELS, JAYNE, ROBBINS
JAMSTEC
Euro-Argo

The approach in attempting to constrain this may be complicated by

[2020-11-24 11:11] matdon17 opened #8 "The SPECIAL_FEATURES, CUSTOMISATION and ANOMALY field are unconstrained"
In the Argo metadata fields SPECIAL_FEATURES, CUSTOMISATION and ANOMALY the population is entirely free-text and useful of entries varies considerably. Can we, and should we, better constrain these fields to make them more consistent and more useful?

Un-defined acronyms widely used, and the fields SPECIAL_FEATURES and CUSTOMISATION in particular are used interchangeably

SPECIAL_FEATURES examples

[2020-11-24 11:14] matdon17 opened #9 "Calibration variables standardisation"
Should we attempt to standardise variables containing information on calibrations?

There are an increasingly complicated range of calibrations to apply to:

- PREDEPLOYMENT_CALIB_EQUATION
- PREDEPLOYMENT_CALIB_COEFFICIENT
- PREDEPLOYMENT_CALIB_COMMENT
- SCIENTIFIC_CALIB_EQUATION
- SCIENTIFIC_CALIB_COEFFICIENT
- SCIENTIFIC_CALIB_COMMENT

It is complicated to manage standardisation, but if not stan

[2020-12-02 16:21] tcarval commented on #1
Thank you Mathieu!

[2020-12-02 23:27] gabrielapilo commented on #2
Hi Matt, from what I remember you had a link on your presentation at the ADMT2020 (day 1) for the standardised vessel names (maybe from JCOMMOPS?) Could you please share that link here?

[2020-12-02 23:59] matdon17 commented on #2
BODC host the C17 vocabulary which is essentially a copy of the ICES platform codes:
https://www.bodc.ac.uk/resources/vocabularies/vocabulary_search/C17/

ICES also make their version of the codes available via: https://vocab.ices.dk/

There is a relationship between BODC, ICES and Ocean OPS, the details of which I would need to dig out.

[2020-12-03 18:35] tcarval opened #10 "PSAL CF standard name should be sea_water_practical_salinity"
The CF standard name for PSAL is “sea_water_practical_salinity”
Argo uses a deprecated “sea_water_salinity”

The change to “sea_water_practical_salinity” should not be performed in short term, we shall wait for the next significant format change.
On NVS Argo R03 PSAL entry, there is a link to “sea_water_practical_salinity”
http://vocab.nerc.ac.uk/collection/R03/current/PSAL/

[2020-12-28 15:32] #1 closed

[2020-12-28 15:33] tcarval opened #11 "add sensor SBE41N_V5.3.4 and "Argo eq. HU" program"
Dear Mathieu,

We have deployed a new version of the float.
Please add the following values to the reference table and file checker and the AIC website.

 ---------------------
 Sensor_Model: "SBE41N_V5.3.4". 2.
 Argo Program："Argo eq.HU".
 ---------------------

 Best regards.
 Fumi.

 /*
Fumihiko Akazawa
Global Oceanic Environment Research Group Global Ocean Observation Research Center(GOORC) Re

[2020-12-28 15:46] tcarval commented on #11
The sensor model and Argo program are registered in https://docs.google.com/spreadsheets/d/1Aw8B7FFUjG4e9MveD5qqvI7ZbB-z_x32IQnpHZbXVZA/edit?usp=sharing

[2020-12-28 15:46] #11 closed

[2021-01-05 13:31] matdon17 commented on #10
As discussed during ADMT21, I propose that on the NVS we have mappings to both the current “sea_water_practical_salinity”
and the deprecated “sea_water_salinity” terms, until such time as the Argo Data System implements the change, and then we can drop the mapping to “sea_water_salinity”.

[2021-01-05 13:38] matdon17 opened #12 "R23 updates from 2020"
There was discussion about adding an ARVOR_L and possibly ARVOR_L with RBR CTDs rather than SeaBird.  ARVOR_L was added I believe, but I do not know where discussion about an RBR equipped version reached.  Key contacts were Mathieu Belboech (Ocean OPS) and Jerome Sagot (NKE).

[2021-01-05 13:38] matdon17 opened #112 "R23 updates from 2020"
There was discussion about adding an ARVOR_L and possibly ARVOR_L with RBR CTDs rather than SeaBird.  ARVOR_L was added I believe, but I do not know where discussion about an RBR equipped version reached.  Key contacts were Mathieu Belboech (Ocean OPS) and Jerome Sagot (NKE).

[2021-01-05 13:44] matdon17 opened #13 "RBR pressure and CTD manufacturer name/model updates and additions"
Back in July 2020, there was a suggested update to RBR CTD entries for pressure and CTD manufacturer name and model.

This covered L2 gen, L2 gen with CT cell and L3 gen (where 'gen' I assumed stood for generation).

There were 2 types of RBR pressure sensor and 4 types of RBR CTD that needed adding/modifying to the SENSOR_MAKER and SENSOR_MODEL reference tables R26 and R27.

Primary contact Mathi

[2021-01-05 13:45] matdon17 commented on #13
It was also noted by Claudia Schmid that RBR manufacturer an oxygen sensor which is due to be trialled on a WHOI float.

[2021-01-05 13:47] matdon17 opened #14 "RR2 and RD2 need updating following revision of QC flag definitions during ADMT-21"
At ADMT-21 the descriptions of real-time and delayed-mode flags was updated to be more comprehensive.  These changes will need updating in vocabs RR2 and RD2.

Primary contact for these changes is Annie Wong.

[2021-01-05 13:49] matdon17 opened #108 "GROUNDED flags table (R20) needs updating and expanding"
At ADMT-21, a proposal to update R20 to include revised definitions for some existing entries and the addition of new terms was approved.  Primary contact is Megan Scanderbeg.

[2021-01-05 15:21] vpaba opened #16 "R08 updates following Argo User Manual / Dec 2020 review"
Create new entries in NVS collection R08 for code numbers 875, 876, 877, 878, 879 and 880 as reflected in the reference table 8 (instrument types) updates from December 2020.

[2021-01-05 15:21] vpaba opened #106 "R08 updates following Argo User Manual / Dec 2020 review"
Create new entries in NVS collection R08 for code numbers 875, 876, 877, 878, 879 and 880 as reflected in the reference table 8 (instrument types) updates from December 2020.

[2021-01-05 15:39] vpaba opened #17 "R05 updates following Argo User Manual / Dec 2020 review"
Update descriptions for IDs G, I, D, E, F and H as reflected in the reference table 5 (location classes) updates from December 2020.

[2021-01-05 15:39] vpaba opened #101 "R05 updates following Argo User Manual / Dec 2020 review"
Update descriptions for IDs G, I, D, E, F and H as reflected in the reference table 5 (location classes) updates from December 2020.

[2021-01-05 15:42] vpaba opened #18 "R04 update following Argo User Manual / Dec 2020 review"
Create ID='PL', desc: 'IOPAN, Institute of Oceanology Polish Academy of Science', as reflected in the Reference Table 4 (data centres and institutions codes) updates from December 2020.

[2021-01-05 15:42] vpaba opened #100 "R04 update following Argo User Manual / Dec 2020 review"
Create:

- ID='PL', desc: 'IOPAN, Institute of Oceanology Polish Academy of Science'
- ID='LV', desc: 'Laboratoire Océanographique de Villefranche, Sorbonne University'

to reflect status of Reference Table 4 (data centres and institutions codes) of the Argo User Manual as of January 2021.

[2021-01-05 15:50] vpaba opened #19 "R01 update: deprecate BTRAJ"
Deprecate the B-Argo trajectory (BTRAJ) concept, to reflect the information in Reference Table 1 (data type) of the Argo User Manual.

[2021-01-05 15:50] vpaba opened #94 "R01 update: deprecate BTRAJ"
Deprecate the B-Argo trajectory (BTRAJ) concept, to reflect the information in Reference Table 1 (data type) of the Argo User Manual.

[2021-01-05 15:52] gwemon commented on #18
@vpaba I'd recommend creating an external mapping to https://edmo.seadatanet.org/report/195 when adding this new entry.

[2021-01-05 15:57] vpaba opened #20 "R03 updates following Argo User Manual / Dec 2020 review"
The following concepts need to be created to reflect the updates carried out in Reference Table 3 (parameter code table) of the Argo User Manual:

- TEMP_CNDC
- NB_SAMPLE_CTD
- NB_SAMPLE_OPTODE
- NB_SAMPLE_OCR
- NB_SAMPLE_MCOMS
- NB_SAMPLE_CROVER
- NB_SAMPLE_SUNA
- NB_SAMPLE_ISUS
- NB_SAMPLE_STM
- NB_SAMPLE_CYC
- NB_SAMPLE_DURAFET

[2021-01-05 15:57] vpaba opened #99 "R03 updates following Argo User Manual / Dec 2020 review"
The following concepts need to be created to reflect the updates carried out in Reference Table 3 (parameter code table) of the Argo User Manual:

- TEMP_CNDC
- NB_SAMPLE_CTD
- NB_SAMPLE_OPTODE
- NB_SAMPLE_OCR
- NB_SAMPLE_MCOMS
- NB_SAMPLE_CROVER
- NB_SAMPLE_SUNA
- NB_SAMPLE_ISUS
- NB_SAMPLE_STM
- NB_SAMPLE_CYC
- NB_SAMPLE_DURAFET

[2021-01-05 16:05] vpaba commented on #20
Should NB_SAMPLE be deprecated? http://vocab.nerc.ac.uk/collection/R03/current/NB_SAMPLE/
This is not mentioned in the list of parameter codes of Reference Table 3 in the Argo User Manual, but is present in the 'Argo physical parameters list' spreadsheet accessible from the ADMT website: http://www.argodatamgt.org/Documentation

[2021-01-05 16:10] matdon17 commented on #20
I think it is still transitioning - so at the moment it remains valid, but at some future point (once DACs have converted) it can bbe deprecated then.

[2021-01-05 16:11] vpaba commented on #14
Should note (c) - which contains further information on flags '5' and '8', also added as part of the December 2020 updates to Reference table 2 in Argo User Manual - be captured in the description of these two concepts as well?

[2021-01-05 16:11] matdon17 commented on #18
I suspect we need mappings for all the other entries as well?

[2021-01-05 16:29] gwemon commented on #18
@matdon17 yes when you get a chance it would be good to do that. It would enable interoperability with other systems that use EDMO and it could facilitate switching to EDMO should this be the preferred option in the future. Also I was told that some Argo partners do actually use EDMO in their data system so creating the mapping as you add new entries will facilitate internal workflows/interoperabi

[2021-01-05 16:33] matdon17 commented on #18
It'd be interesting to document examples of this and other such uses at some point to understand how it might be used/highlight to others how it can be used.

[2021-01-05 16:43] matdon17 commented on #14
I'm not sure that's necessary as its usage rather than a definition.  There are many other instances of additional information associated with reference tables were we _could_ include it, but it is liable to be more than trouble than it is worth in the context of maintenance - especially considering there will be usage information in various different documents, particularly around QC.

It does ra

[2021-01-05 20:11] gwemon commented on #18
@matdon17 yes it would be good indeed. I just checked back the info I received and it was Coriolis db that seems to be using EDMO instead or maybe as well as what is now in R04.

[2021-01-06 16:38] matdon17 opened #21 "RR2 and RD2 need updating following revision of QC flag definitions during ADMT-21"
At ADMT-21 the descriptions of real-time and delayed-mode flags was updated to be more comprehensive.  These changes will need updating in vocabs RR2 and RD2.

Primary contact for these changes is Annie Wong.

[2021-01-10 10:43] #100 closed

[2021-02-01 17:05] #106 closed, assigned to vpaba

[2021-02-01 17:08] #99 closed, assigned to vpaba

[2021-02-01 17:39] vpaba commented on #21
@gwemon and @matdon17, table 2 at page 72 of the Argo User Manual (https://archimer.ifremer.fr/doc/00187/29825/80869.pdf) includes the following (code | meaning | comment):

  ‘ ‘ | FillValue | Empty space in NetCDF file

Shall I go ahead and create an empty CODVAL/CODALT (i.e. Identifier and Alternative Label) for this term? I noticed that (non-Argo) tables C05 and C15 on the NVS each have a conc

[2021-02-01 18:02] matdon17 commented on #21
I do not know of any reasons why we wouldn't, although that's not to say there isn't.

Are C05 and C15 externally exposed?  I can't see them either through the search or VocPrez interface.

[2021-02-08 16:43] #108 closed

[2021-02-09 18:31] gwemon commented on #21
@matdon17 @vpaba there isn't any precedent in the NVS.  C15 and C05 are internal BODC vocabs not published on the NVS. I presume that it would not be possible to change the space value ' ' to something else? Or could this record be omitted from the NVS collection?
@alko-k what do you think? can we take the risk to have a uri of the form vocab.nerc.ac.uk/collection/RR2/current/ /?

[2021-02-09 18:47] matdon17 commented on #21
Thinking about it a bit more - this is really just the entry for the NetCDF _FillValue variable attribute.  I actually don't think it should appear in the reference table (even in the manual) at all.

[2021-02-09 20:16] vpaba commented on #21
This term is new to the table, i.e. it is part of the most recent edits/additions to the manual.
One option is to have CODVAL/CODALT = FillValue, rather than an empty space as @gwemon suggested (vocab.nerc.ac.uk/collection/RR2/current/ / looks very strange! plus, I can't imagine many searching for ' ' specifically).
Otherwise, @matdon17 we could ask the relevant editors why it was added in the fir

[2021-02-10 17:36] matdon17 commented on #21
I'm not even sure URLs can have spaces, so I doubt the NVS can support it, and even if it can, it is part of the NetCDF standard and seems redundant.  We have other reference tables where there is an acceptable _FillValue

One for the next AVTT?

[2021-02-10 19:48] gwemon commented on #21
@matdon17 @vpaba  I agree that it would be best to avoid blank spaces in URLs if we can avoid it.

[2021-02-11 09:19] vpaba commented on #21
Thank you both. I will take this to the next AVTT meeting.

[2021-02-11 16:21] vpaba opened #130 "Searches for information on specific models"
**CTD_F01**

Emailed the Japanese Tsurumi-Seiki company with the following query:

_'I am writing as I am creating a controlled vocabulary entry for a CTD model produced by TSK and deployed on at least three JAMSTEC Argo floats between 2002 and 2003 (float numbers: 2900238, 2900239 and 5900314).
From the information I could find online, the TSK CTD model 'F01' was deployed on these floats.
I was j

[2021-02-11 17:38] vpaba opened #129 "Inconsistencies between entries in OceanOPS and Argo User Manual reference table spreadsheet"
Argo User Manual reference table 27 (SENSOR_MODEL) can be found in the Google Spreadsheet: https://docs.google.com/spreadsheets/d/1Aw8B7FFUjG4e9MveD5qqvI7ZbB-z_x32IQnpHZbXVZA/edit#gid=6

The following inconsistencies were found between the entries there and those in OceanOPS ('Sensor models' filter):

**User Manual spreadsheet | OceanOPS**

RBR_ARGO3_DEEP4K | RBR_ARGO_DEEP4K
RBR_ARGO3_DEEP6K | RBR

[2021-03-18 18:14] matdon17 opened #105 "RBR CTD sensor on Deep Apex float"
The UK has deployed what I think is the first Deep Apex float equipped with an RBR sensors, see:
https://www.ocean-ops.org/board/wa/Platform?ref=6903755

As a result none of the existing WMO instrument type codes are appropriate:
 - 877 is for an APEX with RBR CTD
 - 849 is for an APEX-D (Deep) with SBE CTD

Could a new code be created for APEX-D with an RBR CTD?

[2021-03-25 11:13] vpaba opened #133 "Review of Argo Reference Table 28"
### Objective: Load Argo Reference Table 28 onto the NVS as the R28 collection.

**Phase I**

Assess the state of Argo Reference Table 28 from the Argo User Manual and linked [Excel spreadsheet](https://docs.google.com/spreadsheets/d/1Aw8B7FFUjG4e9MveD5qqvI7ZbB-z_x32IQnpHZbXVZA/edit#gid=1206152030) (‘CONTROLLER_BOARD’ sheet).

Liaison with OceanOps is of particular importance, as related work is b

[2021-04-09 04:47] ksato-aopc opened #22 "Request for addition of new SENSOR_MODEL: SBE61_V5.0.3"
We JAMSTEC have deployed a Deep APEX equipped with SBE61_V5.0.3 in this year. It is the new version of SBE61. So, would you add it to the reference table, whose identifier is 'R27'?

[2021-04-09 04:47] ksato-aopc opened #128 "Request for addition of new SENSOR_MODEL: SBE61_V5.0.3"
We JAMSTEC have deployed a Deep APEX equipped with SBE61_V5.0.3 in this year. It is the new version of SBE61. So, would you add it to the reference table, whose identifier is 'R27'?

[2021-04-09 10:29] vpaba opened #127 "New pressure sensor additions to R27"
Pressure Sensors
QUARTZDYNE_DSB301-10-C85        QUARTZDYNE          Deep SOLO with two pressure sensors           CTD_PRES.    PRES

KELLER_20SX           KELLER.      Deep SOLO with two pressure sensors. CTD_PRES PRES

MENSOR                 MENSOR. Deep SOLO with two pressure sensors CTD_PRES.  PRES

The Mensor floats do not have a model, as they were a special build.

[2021-04-11 09:42] vpaba opened #126 "Additional details needed on RBR_PRES and RBR_PRESA pressure sensor models"
I sent an email to RBR, asking to confirm that the 'RBR_PRES' model is the pressure sensor part of the RBRargo CTD, whereas the RBR_PRESA is the pressure sensor part of the RBRargo3 CTD.

[2021-04-12 11:39] ClareBellingham opened #125 "RBR pressure sensor names"
RBR have confirmed that BODC's RBR sensor is KELLER_PA7L.
Currently the only option on the reference tables is KELLER_PA8

some useful links
https://download.keller-druck.com/api/download/LxiruDQBzC3Bd2ewgj6LES/en/latest
www.keller-holland.nl/pdf/Serie8-e.pdf
https://keller-druck.com/en/products/pressure-transducers/oem-pressure-transducers/series-7l

[2021-04-13 08:04] #128 closed

[2021-04-19 19:10] matdon17 opened #98 "Should R03 entries include whether the parameter is a core (c), BGC (b) or intermediate (i) parameter?"
Each parameter is defined as being either:
 - core (c)
 - BGC (b)
 - intermediate (i)

This is stated in the Argo user manual, as well in various cookbooks such as the individual BGC cookbooks.  However, this information is not captured in the NVS.  Should it be?

And if so, should it be via free-text additions to the R03 concept descriptions, or through a mapping to a new parameter type vocab?

[2021-04-20 09:09] matdon17 opened #97 "Is UV_INTENSITY_DARK_SEAWATER_NITRATE a duplicate of UV_INTENSITY_DARK_NITRATE?"
Whilst looking at the nitrate spec for BGC derivations, I've noticed that we have two nitrate variables that look nearly identical in R03:

UV_INTENSITY_DARK_NITRATE (in nitrate cookbook) defined in R03 as:
Raw ultra-violet (UV) flux signal (count) in darkness from nitrate sensor.

UV_INTENSITY_DARK_SEAWATER_NITRATE (not in nitrate cookbook) defined in R03 as:
Raw ultra-violet (UV) flux signal (co

[2021-04-22 23:19] MarkIggy opened #58 "<short_sensor_name> rules clarification"
The <short_sensor_name> "template" appears in a few places the the file specifications and reference tables.

- <short_sensor_name> will only be used for CONFIG_PARAMETER_NAME (meta files) and TECHNICAL_PARAMETER_NAME (tech files).
- <short_sensor_name> format: first letter capitalized, subsequent letters in lower case.  Current Reference Table 27 does not reflect this rule.  (The values are valid

[2021-05-10 08:08] vpaba opened #23 "UDUNITS usage in Argo"
Current issues:
- Argo NetCDF files use [UDUNITS](https://www.unidata.ucar.edu/software/udunits/), however this is not yet clearly stated in the Argo manuals and documentations.
- There currently isn't a controlled vocabulary for UDUNITS.
- Differences between UDUNITS and P06 have been identified.
- Instances of inconsistent usage of UDUNITS in Argo files (particularly BGC) have been identified.

[2021-05-10 08:14] #8 closed

[2021-05-10 08:17] #23 closed

[2021-05-10 11:41] vpaba opened #26 "Floats ending cause vocabulary"
There currently isn't a reference table / vocabulary to capture all the possible reasons why a float may have died.
It would be useful to include this information in the Argo NetCDF files, so a step in this direction has been proposed at the 3rd AVTT meeting in April 2021. Such work would go alongside a review of the ANOMALY field.

[2021-05-10 14:45] mbelbeoch commented on #26
Here is a first list from OceanOPS:
https://www.ocean-ops.org/api/preview/?param=endingcause

this  list is a bit too long and needs to be simplified.

A first exchange with D. Roemmich identifies these 3 elements that determine the true survival rate of Argo floats:

i) buoyancy engine and other hardware.
ii) battery lifetime.
iii) CTD sensor stability.

------------------------------------------

[2021-05-11 16:36] matdon17 opened #124 "Does KELLER_PA8 need to be retained for non-RBR use?"
It has been decided that were a KELLER_PA8 pressure transducer is incorporated in an RBR pressure sensor, then that sensor should be recorded as and RBR_PRES or RBR_PRES_A as appropriate.  See https://github.com/nvs-vocabs/ArgoVocabs/issues/126 and https://github.com/nvs-vocabs/ArgoVocabs/issues/125

However, there is one instance on Ocean OPS of a float (WMO no. 5906417) that has a KELLER_PA8 alo

[2021-05-11 16:37] #125 closed, assigned to nobody

[2021-05-11 18:39] matdon17 opened #55 "Should sensor firmware version be moved to a new field?"

[2021-05-18 12:00] #129 closed

[2021-05-20 07:56] ClareBellingham opened #132 "Discussion section introduced"
I have introduced topics in the Discussions section of this repository (R28 - controller board) divided by manufacturer to enable focused discussion @nvs-vocabs/avtt

[2021-05-26 08:09] vpaba opened #123 "Host all entries from Argo Reference Table 27 into NVS collection R27"
The latest version of Argo Reference Table 27 (SENSOR_MODEL) can be found through a link in the Argo User Manual: http://tinyurl.com/nwpqvp2

The NVS collection R27 can be found on VocPrez: http://vocab.nerc.ac.uk/collection/R27/current/

[2021-05-27 13:27] RomainCancouet commented on #26
I have received very valuable feedback after some email exchanges within Euro-Argo. I have tried to compile them and establish a draft list of possible ending causes, organised per categories (thanks @matdon17). There are still some comments to tackle and definitions/concepts that would need to be given more clarity I reckon.

We think the ending causes could be compound.

e.g. a float with a hard

[2021-05-27 13:29] RomainCancouet commented on #26
@mbelbeoch thanks for the OceanOPS list. Would it be possible to extract from your database the available information on your existing "ending cause" metadata? It would be interesting to see the level or recorded information and the most populated fields.

[2021-05-28 08:41] anthoninlize commented on #26
@RomainCancouet : here's what we have in the DB.
|Count|Ending cause|
|---|----|
|33|Automatically closed by time rules|
|3474|Automatically closed due to a lack of recent location|
|2|Automatically closed due to conflicting dates|
|1|Bad data|
|1|Battery failure|
|73|Beached shore|
|2|Caught by fishermen|
|11|Deployment Failure|
|13|Failed|
|1|Grounded|
|1|Hardware problem|
|1|Human interference/

[2021-05-28 09:20] mbelbeoch commented on #26
When the reference table is defined we need to review from scratch the values for each float. It will be challenging. So we will need inputs by each float group hoping they maintain internally such information.
Existing OceanOPS DB is a modest starting base, except for beached floats for which our monitoring is pretty good.

[2021-05-28 09:47] matdon17 commented on #26
@anthoninlize is that only for floats which have their status set to 'closed'?  There are 8648 floats with a closed status, but there are 4252 floats listed as inactive, many of which probably should be 'closed'.  Does this means most 'closed' floats have no ending cause?

[2021-05-28 10:16] anthoninlize commented on #26
@matdon17 I updated my message to enforce the filter on closed floats, and including the ones without an ending cause set.
So yes, around half of them have no ending cause set.

[2021-05-28 13:05] matdon17 commented on #26
I think one of the critical things to ensure is kept separate is whether a failure is caused by the float or sensor failure.  So for "water intake", for instance, whether a sensor failed or the float failed should be kept separate as this is an important distinction.

In terms of definitions, I think these need to be written in terms of an issue leading to failure.  So for instance, "Communication

[2021-05-28 13:44] RomainCancouet commented on #26
@anthoninlize thanks for the DB extraction. I think there are more than 17 floats recovered. @lucarduini and I have compiled a file with possibly recovered floats, based on duplicates in float serial number, CTD serial number, etc. If these entries are confirmed by the Argo groups we may update the OceanOPS DB.

[2021-05-28 14:53] anthoninlize commented on #26
@RomainCancouet it's not necessarily correlated (in our DB). A float can be declared dead before/independently, thus not reflecting the recovery.
If you want recovery stats (?), that's another set of figures.

[2021-06-18 13:30] vpaba opened #88 "Add new concept for RTQC flag of '2' - probably good?"
It was brought to my attention that RTQC flags of '2' may be used to flag data at >2000db following RTQC tests on Deep Argo data.

[2021-06-22 11:27] matdon17 opened #96 "Review of mappings to P01 for oxygen"
In July 2020 I made some suggestions to update the Argo parameters list Excel file named:
 - argo-parameters-list-core-and-b_CS_20180129.xlsx

Specifically:

DPHASE_DOXY - currently OXYCPHAB, but this is actually C1PHASE_DOXY  - I recommend OXYCPHAC
TPHASE_DOXY - currently OXYCPHAC, but this is actually DPHASE_DOXY  - I recommend OXYCPHTC
C1PHASE_DOXY - currently OCYCPHAD, but doesn't exist - I re

[2021-08-12 07:27] #130 closed, assigned to nobody

[2021-08-12 08:56] vpaba opened #117 "Update MICRON definition to include Piezo-Metrics"
See https://www.microninstruments.com/company#About

[2021-08-18 12:38] matdon17 opened #107 "Test 18 binary ID error"
The binary ID for test 18 (frozen profile test) is currently recorded as 621144, however it should be 261144 as per the user manual and the CTD and traj file.

[2021-08-18 14:04] #124 closed

[2021-08-18 14:11] #126 closed, assigned to vpaba

[2021-08-18 14:24] #127 closed

[2021-08-19 11:05] #123 closed

[2021-08-19 11:31] vpaba opened #122 "Optical sensors metadata issues"
@nvs-vocabs/reference-tables @nvs-vocabs/parameter-codes While working on https://github.com/nvs-vocabs/ArgoVocabs/issues/123, a few issues were identified concerning the optical sensors which may need discussing and/or further investigating ahead of mappings creation.

1. Some codes appear to be duplicated, the only difference being the float they were mounted on (in the original [Argo spreadshee

[2021-09-13 10:07] RomainCancouet commented on #26
With @mbelbeoch we have reviewed a little the draft list, with two levels of granularity (attachment). We will send an email to Argo lists for their feedback.
[ENDING_CAUSE_0.1.docx](https://github.com/nvs-vocabs/ArgoVocabs/files/7153360/ENDING_CAUSE_0.1.docx)

[2021-09-14 08:56] RomainCancouet commented on #26
a comment from @tcarval : as the ENDING_CAUSE list already exists from OceanOPS (https://www.ocean-ops.org/api/preview/help/?param=endingcause), we might use lowercase for this new list (i.e. unchecked instead of UNCHECKED previously)

[2021-09-14 11:23] vpaba opened #116 "New entries in R26 for MENSOR and QUARTZDYNE"
@nvs-vocabs/reference-tables

I have added the following codes in[ R26](http://vocab.nerc.ac.uk/search_nvs/R26/?searchstr=&options=identifier,preflabel,altlabel,status_accepted&rbaddfilter=inc&searchstr2=) (please note it takes ~24h for them to show up on the VNS).

MENSOR - A manufacturing company located in San Marcos, Texas (United States of America), specialised in precision pressure products.

[2021-09-15 09:39] vpaba opened #29 "Mappings"
To create mappings (i.e. 'links') between concepts in related Argo collections, and between Argo collections concepts and concepts in related external collections.

Planned mappings at collection level are depicted below:

![Argo_collections_mappings](https://user-images.githubusercontent.com/43376757/133409803-6a3efd04-3ee3-47c6-9073-bbe0c9cb38d9.png)

[2021-09-15 09:41] vpaba commented on #29
@nvs-vocabs/avtt Mappings between R27 concepts (SENSOR_MODEL) and related R26 concepts (SENSOR_MAKER) have been created and are now visible on the NVS: http://vocab.nerc.ac.uk/search_nvs/cmap/?a=R27&b=R26

[2021-09-15 22:56] jlovellcsiro commented on #26
This is the list that CSIRO have started using for our fleet:

0 | Battery exhausted/failed
1 | Leak
2 | Air bladder failure
3 | Grounding
4 | Came on shore
5 | Ice-related failure
6 | DoD
7 | Anode corrosion (leak)
8 | Other: ice, DML, Comms, Software, Stuck on surface etc
9 | Unknown

We have started implementing this in our database and will assign a primary cause and possibly multiple secondar

[2021-09-16 06:48] RomainCancouet commented on #26
thank you very much for the feedback @jlovellcsiro

I could see that the identified CSIRO ending causes would fit quite well in the proposed list.

Stuck on the surface was in the first draft (post on 27 May) and was in the OceanOPS list from @mbelbeoch; so I think we could add it back. Our point was that it describes more the ending status of a float (e.g. not able to dive anymore due to pressure

[2021-09-16 23:20] jlovellcsiro commented on #26
Thanks Romain. Do you have documentation of the theoretical lifetimes?
DoD is died on deployment - reported no cycles.
DML is Druck microleak - this is more of a data quality issue than a cause of death

[2021-09-22 13:38] RomainCancouet commented on #26
thanks @jlovellcsiro
I have some general figures for some models, from datasheets, manuals or manufacturers information. I definitely think the community would benefit to have these theoretical lifetimes publicly available.

[2021-09-23 14:56] tcarval commented on #6
We should probably provide guidance to fill the PI_NAME variable:

- FirstName LastName
- Upper case for the initial and lower case for the remaining
- Example : Anna Klein

We could add an additional variable : PI_NAME_ID
This variable would contain an ORCID, a ResearchID or other ID
PI_NAME_ID can be a list of blank separated IDs
Example:

[2021-09-24 12:31] RomainCancouet commented on #26
I've created a **[GoogleDoc](https://docs.google.com/document/d/1W1GpAei-Pz5WE-LC5VREFhKGJsenkDPV0GqPG6nimGU/edit?usp=sharing)** to maintain and document the current list status of suggested ending causes. The Gdoc is opened in suggestion mode for collaborative work. I have integrated the comments received so far. We will integrate new entries if we receive further feedback from Argo teams.

[2021-09-29 09:53] tcarval commented on #26
The FloatEndingCause terms will appear in the NetCDF metadata file “ANOMALY” variable.
However, "ANOMALY" is not llimited to float ending cause.
We may want to add a specific “FloatEndingCause” variable in the NetCDF metadata file.

[2021-10-04 21:08] mscanderbeg commented on #6
I agree with the guidance on how to fill the PI_NAME variable.  This is simple and easily readable.

Would the PI_NAME_ID also be 'unrestricted' in the sense that any ID could be used?  Is this more useful because each person should have only one ID rather than multiple spellings of a name?  In that case, we should probably discourage PIs from changing the ID over time.

I imagine we would not man

[2021-10-05 10:16] tcarval commented on #6
The PI_NAME_ID could be restricted to accepted IDs.
I know two types of researcher IDs : ORCID and ResearcherID
Accepted IDs could be:

- ORCID : https://orcid.org/*
- ResearcherID  : https://www.researcherid.com/rid/*

[2021-10-05 21:45] apswong commented on #6
I agree guidance on how to fill PI_NAME is good. This can be provided quite easily under the "Comment" column in 2.2.4, 2.3.4, 2.4.4, etc, in the Argo Users Manual.

I'm not convinced that a new variable, such as PI_NAME_ID, is needed. I would like to see a stronger argument about why it's needed, aside from the general need for a controlled vocabulary. Without knowing why it's needed specifically

[2021-10-06 12:40] RomainCancouet commented on #6
In the review of this metadata field that my colleague @lucarduini did this summer (e.g. [PI_NAME_2021.xlsx](https://github.com/nvs-vocabs/ArgoVocabs/files/7293745/PI_NAME_2021.xlsx) with existing PI_NAME on the GDAC, and possible new value to 1. harmonize different existing spelling for the same PI_NAME and 2. harmonize lower/upper case), we choose the guidance to be FirstName LASTNAME, but First

[2021-10-06 19:18] mscanderbeg commented on #6
I don't have a strong feeling between FirstName LASTNAME vs. FirstName LastName.

It is tricky to prevent new entries of PI_NAME that do not follow this guidance if we do not manage a list.  Would this be improved at all with using an ORCID?  Would we ask the FileChecker to somehow check that the URL is resolvable?  Or would we manage a list of acceptable ORCIDs?

I agree to the suggestion of PI_O

[2021-10-07 04:27] apswong commented on #6
The point of this discussion is to explore how to have a controlled vocabulary for the variable PI_NAME, so that the person can be identified uniquely.  @tcarval did not think we should manage a vocabulary for PI_NAME, and so suggested a new parallel ID variable.  @RomainCancouet suggested that we should, in fact, manage a controlled vocabulary for PI_NAME.

In my opinion, PI_NAME is an existing v

[2021-11-12 12:20] roswri commented on #6
After a meeting with Vi and reading the discussion on this ticket, we have decided a controlled vocabulary (ideally with a mapping to ORCID) is the best solution.

**GDPR**
I have consulted the GDPR expert at BODC and they have said that since the names are already in the public domain and there is a business need to capture them there shouldn't be any GDPR issues with creating a controlled vocabu

[2021-11-14 21:09] apswong commented on #6
@roswri  I agree that we need to control the entries in the PI_NAME variable.  This variable currently has a length limit of 64 characters, so there is sufficient space for all the names.

Regarding the PI_NAME xlsx - thanks for drafting it.  However, I don't understand the purpose of the 3 columns.  Could you explain them please?  Is 'Identifier' what you propose we use to fill PI_NAME?  And why

[2021-11-15 09:18] roswri commented on #6
Hi @apswong ,

The columns in the excel file relate to the standard columns on the NVS (e.g. https://vocab.nerc.ac.uk/search_nvs/R04/).
- 'Identifier' is a unique code for the term that will become part of the URI for the term e.g. BO for BODC in the R04 vocabulary: http://vocab.nerc.ac.uk/collection/R04/current/BO/
- With regards to 'Preferred label' and 'Alternative label' I have included both b

[2021-11-15 16:09] apswong commented on #6
Hello @roswri.  Examples of some PIs who are missing from the xlsx are 'KENNETH JOHNSON' and 'STEVEN JAYNE'.  They are in PI_NAME with multiple PIs concatenated into one char string, separated by commas.

[2021-11-15 16:30] RomainCancouet commented on #6
I reckon the issue might come from the version of the file provided following Luca's analysis. Only one name was kept for multiple PIs, whereas indeed it is better to keep the different PI names, separated by commas.

[2021-11-18 10:06] roswri commented on #6
Thanks @apswong and @RomainCancouet! I have updated the list with the missing names: [PI_NAME_2021_NVS_v2.xlsx](https://github.com/nvs-vocabs/ArgoVocabs/files/7561740/PI_NAME_2021_NVS_v2.xlsx)
There were a couple of names that were a bit vague:
- 'P.E. ROBBINS' - I found a Paul E Robbins and a Pelle E Robbins both from WHOI associated with Argo related papers, any ideas which one P.E. Robbins is m

[2021-11-18 11:04] apswong commented on #6
Hi @roswri.

- Paul E Robbins and Pelle E Robbins are the same person.  'Pelle E Robbins' is the current name and so should be the name to use here.
- 'David Nicholson' is correct.
- 'JAYNCE' corrected to 'Steven JAYNE' is correct.

I agree each name should be a separate entry, and that multiple names can be used to fill PI_NAME if separated by commas.

[2021-11-18 11:15] roswri commented on #6
Hi @apswong,

Thanks for clearing that up, I should have worked out they were the same person since they have the same email address! I will add Pelle E Robbins and David Nicholson to the list.

Many thanks,
Roseanna

[2021-11-18 14:38] RomainCancouet commented on #6
Hello @roswri
Thanks!
Did you parse all the recent GDAC data to build the list of PI names? I did not check all the content of your file but I could not find some PI names (e.g Nicolas BARRE https://data-argo.ifremer.fr/dac/coriolis/3900396/ or CHUNSHENG JING
 https://data-argo.ifremer.fr/dac/csio/2902873/)

Once the vocab will in place, do you think we can update the content of the meta files on

[2021-11-26 09:18] roswri commented on #6
Hi @RomainCancouet,

I intend to to check for any additional missing PI names in the recent GDAC metadata files, I'm having some technical difficulties at the moment, but I will do that when I can and add any additional PI names to the list.

Regarding your question about updating the content of the meta files on the GDAC with the values from the new controlled vocabulary, do you mean from the ind

[2021-11-26 10:12] RomainCancouet commented on #6
Hi @roswri ,

OK, thanks for the future check of missing PI names.

Yes my question regarding the meta files was: are we willing and DACs able to update the content of the meta files once some entries (PI_NAME, etc.) will be constrained and new values suggested? I acknowledge that will require efforts, and maybe this could be done only once other metadata fields have been revisited by this task te

[2021-12-03 09:17] roswri commented on #6
@tcarval @nvs-vocabs/oceanops @RomainCancouet
Hi all,

Who should be granted editing permissions for this vocabulary for PI_NAME? I can add extra people if anyone else decides they want or need editing permissions later on.

Thanks,
Roseanna

[2021-12-09 11:43] tcarval opened #30 "table 25: OCR504_ICSW sensor, remove satlantic reference"
An OCR multispectral radiometer SENSOR_MODEL is currently "SATLANTIC_OCR504_ICSW" in reference table 25.
SeaBird Electronics acquired both Wetlabs and Satlantic years back, so Seabird Scientific (SBS) encompasses all three sensor makers.

**Proposal:** add a new sensor model "OCR504_ICSW" with no mention of the sensor maker.

**Status:** approved

**Comment:** the sensor SATLANTIC_OCR504_ICSW shou

[2021-12-09 11:43] tcarval opened #121 "table 27: OCR504_ICSW sensor, remove satlantic reference"
An OCR multispectral radiometer SENSOR_MODEL is currently "SATLANTIC_OCR504_ICSW" in reference table 27.
SeaBird Electronics acquired both Wetlabs and Satlantic years back, so Seabird Scientific (SBS) encompasses all three sensor makers.

**Proposal:** add a new sensor model "OCR504_ICSW" with no mention of the sensor maker.

**Status:** approved, tables 26 and 27 updated on 2021-27-12

**Comment:

[2021-12-09 11:50] tcarval commented on #30
**Claudia's message 29/11/2021**
That sounds like the way to go about this.
During the transition, the GDAC format checker
could issue a warning instead of a rejection for
files using the old way.

Also:
1) we may need some flexibility with respect to
the 504. Right now, I see 504 and 507 in the
reference table. Not sure if there will be other
numbers in the future (i,e, sensors that use a
number

[2021-12-10 09:21] tcarval commented on #30
The floats fitted with OCR504_ICSW are currently rejected on GDAC.
File format checker report:
_Dac:                'aoml'
File:               'nc_2021.10.29_18.15.tar.gz:::5906446_meta.nc'
Type:               'META-DATA'
Version:            '3.1'
PI Name:            'STEPHEN RISER'
Current Time (UCT): Fri Oct 29 22:45:44 2021
Reason:
  SENSOR_MODEL[4]: 'OCR504_ICSW' Status: Invalid
  SENSOR_MODEL

[2021-12-10 09:26] tcarval opened #31 "Tables 26 27: SBE61_V5.0.9 DSB301-10-C85 QUARTZDYNE sensors"
**SBE61_V5.0.9 sensor model**
The SBE61_V5.0.9 sensor model is currently rejected.
On December 10th 2021 it was added in the SENSOR_MODEL table 27

**QUARTZDYNE sensor maker**
The QUARTZDYNE sensor maker is currently rejected.
On December 10th 2021 it was added in the SENSOR_MAKER table 26

**DSB301-10-C85 sensor model**
The DSB301-10-C85 sensor model is rejected
Please use "QUARTZDYNE_DSB301-10-C

[2021-12-10 11:17] tcarval commented on #2
The Argo metadata field DEPLOYMENT_PLATFORM is a human readable variable. We may enhance it with the feature URI ([Universal Ressource Identifier](https://en.wikipedia.org/wiki/Uniform_Resource_Identifier)) .
This is human readable; this is machine readable : a computer code will use a simple regexp instruction to parse **uri:<*>** elements.

Example:

- DEPLOYMENT_PLATFORM=“Pourquoi pas? uri:<<ht

[2021-12-10 13:32] vincentbernardclayton commented on #26
just a comment : couldn't we use the END_MISSION_STATUS parameter ? and update it with more options :
END_MISSION_STATUS ;
		END_MISSION_STATUS:long_name = "Status of the end of mission of the float" ;
		END_MISSION_STATUS:conventions = "T:No more transmission received, R:Retrieved" ;
		END_MISSION_STATUS:_FillValue = " " ;

[2021-12-13 21:39] randerson57261 commented on #5
We (WHOI) have been filling this entry with project and operating institution ("GO-BGC, WHOI"). In our case the project (GO-BGC) is not the same as who "operates the profiling float".

Internally, we generate this field from two separate fields in our database: "Project" and "Operating Institution"

Perhaps the fields should be:
"PROJECT_NAME": which represents the project that is funding (e.g. NO

[2021-12-14 15:11] vpaba commented on #30
@tcarval, would it be ok for me to move this issue to https://github.com/nvs-vocabs/R27/issues?

[2021-12-14 15:20] tcarval commented on #30
Yes please

[2021-12-14 15:37] vturpin commented on #5
At OceanOPS, we have thought a bit about the concept of "project" based on our cross networks and programs monitoring expertise and the issue we also face. I. e. noone understand "PROJECT" the same way, so this information become alsmost "unexploited". we came to this conclusion: project, program, networks, array should be seen as tags.

At OceanOPS we call this tags "NETWORKS" that is define as f

[2021-12-14 16:56] randerson57261 commented on #5
Our largest concern has been getting our funding agency in one of the fields, typically "PROJECT_NAME". But a "FUNDER" field would be great.

[2021-12-14 17:03] randerson57261 commented on #2
I plan on transitioning our database to the C17 vocabulary, using the "Preferred Label" field. But the "Identifier" will also be linked and available for use.

I wasn't aware that C17 existed, so we created our own vocabulary from a variety of sources.

[2021-12-15 08:59] vturpin commented on #5
Using "AGENCY" and "AGENCY'S ROLE" as lists is also an option.
For instance :  "NOC, BODC, NERC, NOC" and "OPERATING AGENCY, DATA ASSEMBLY CENTER, FUNDER, FUNDER"

[2021-12-16 09:21] RomainCancouet commented on #26
I move back here the comments from the GoogleDoc which were related to the data management and storage issues, not the content of the vocab list:

29.11.2021 Claudia:

04.12.2021 Thierry:

key1:value,key2:value,...
ANOMALY = "ending_cause_category:hardware,ending_cause:ballast"
ANOMALY = "ending_cause_category:null,ending_cause:unchecked"

06.12.2021 Claudia:

[2021-12-16 09:21] RomainCancouet commented on #26
29.09.2021 Thierry:

[2021-12-17 15:53] ClaudiaAOML commented on #31
QUARTZDYNE_DSB301-10-C85 as well as DSB301-10-C85 are currently rejected by the format checker.

Based on discussion during ADMT22 (should manufacturer be part of sensor model; my understanding is: we will use as sensor model what the manufacturer uses and not revise it by adding the manufacturer): I think it will have to be DSB301-10-C85, but I'm not sure.

[2021-12-27 14:14] tcarval commented on #26
Hi @RomainCancouet , I added a new reference table 31 in the [argo-dm-user-manual-WorkInProgressVersion](https://docs.google.com/document/d/1vFLDlk4paPPUGUFVgTBn0QadrqVsmWy1fFL6eb2w6gE/edit?usp=sharing)
You can comment/improve it.

[2021-12-27 14:33] tcarval commented on #3
As proposed for the float "ending cause" (see https://github.com/nvs-vocabs/ArgoVocabs/issues/26#issuecomment-1001588655), we should use a "key:value" syntax. When available, we should provide the URI (unversal ressource identifier) of the deployement cruise.

DEPLOYMENT_CRUISE_ID = "cruise_name:OVIDE 2018,uri:https://doi.org/10.17600/18000510"

[2021-12-27 14:43] tcarval commented on #4
When available, we should use the CTD URI to populate DEPLOYMENT_REFERENCE_STATION_ID
DEPLOYMENT_REFERENCE_STATION_ID = "uri:https://..."

[2022-01-10 13:50] roswri commented on #6
Hi @tcarval and @nvs-vocabs/oceanops ,

It seems we were able to reach a decision on the specifics of the PI_NAME NVS table at ADMT, which is great.
However, we still need to decide who will oversee this collection (i.e. who will have the ability to request/add new terms). I have tagged Thierry and OceanOps as the best candidates that I am aware of, but please let me know if you object to overseei

[2022-01-10 14:12] tcarval commented on #6
Hello Roseanna - @roswri , I agree to be editor of this new collection

[2022-02-15 11:52] vpaba commented on #2
Hello,

After discussion with Victor and Magali at @nvs-vocabs/oceanops, we agree that Argo may benefit from implementing C17 in populating the DEPLOYMENT_PLATFORM field. The way that @tcarval proposed sounds like a good one, for the reasons he described. It would be good to know what the @nvs-vocabs/avtt thinks about the implementation of C17?

There is one issue that Victor identified, and that

[2022-02-15 13:58] ClaudiaAOML commented on #2
Hello Violetta & all,

To avoid issues with GDAC submissions, an issue with the content
in the DEPLOYMENT_PLATFORM field should result in a warning
rather than a rejection.

I also think it would be good to review the rejection list for
meta.nc files. The reason for this is that it sometimes takes quite
a while to update a table on NVS and have that update propagate
to the format checker. This res

[2022-03-16 17:09] tcarval opened #32 "special_feature metadata file variable"
In the NetCDF user's manual, it is mentioned :
*This **vocabulary** captures the possible SPECIAL_FEATURES in a float’s characteristics.
Additional float features can be specified here such as algorithms used by the float.
The SPECIAL_FEATURES variable in a float metadata file must be filled by the DAC, to indicate there are AUX data files (see https://argo.ucsd.edu/data/auxiliary-directory).*

Ac

[2022-03-16 17:20] anthoninlize commented on #32
Thanks Thierry.

It depends what is expected by 'machine parsing' then. What would be expected from the parsing at OceanOPS?
We could check easily that, if the string is not empty or different from 'n/a', it contains 'AUX', and if not sending a feedback email.

We can include the special features in the official notification as well, the question is do we do that in any case, or just if it's compl

[2022-03-17 11:02] vpaba opened #33 "Create new collection to capture AST approval stage"
A new NVS collection needs to be created to capture the AST approval stages, and will include only two concepts:
- PILOT
- APPROVED (or ACCEPTED, or GLOBAL IMPLEMENTATION - to be decided!)

This solution has been agreed by the @nvs-vocabs/avtt in March 2022 as the most efficient way to clearly identify which sensors (in R27), parameters (in R03) etc. belong to which approval stage, by establishing

[2022-03-17 11:07] vpaba commented on #32
#8

[2022-03-18 15:40] tcarval commented on #32
In this "[Auxiliary directory](https://argo.ucsd.edu/data/auxiliary-directory/)" page, it is mentioned:
*The Argo Information Centre (AIC) presently tracks the sensors that provide measurements in the PARAMETER list in the meta.nc file.
**The AIC can also make the SPECIAL_FEATURES string available.**
The SPECIAL_FEATURES string should be suitable to be included as part of notification of floats ab

[2022-03-18 16:00] anthoninlize commented on #32
Thanks. So:
* we'll make sure that we ingest the SPECIAL_FEATURES information properly, and we'll populate it
* we'll add the SPECIAL_FEATURES field on the web dashboard (editing, float sheet)
* if the string contains "AUX" (should it be case sensitive?), we'll include it in the EEZ notification and deployment notification (it might be a mention that some special features exist, redirecting to oce

[2022-03-18 16:36] tcarval commented on #32
Personally I do not like upper case strings. So let's decide that "AUX" is not case sensitive (AUX, aux, ... are valid).
AUX indicates that there are auxiliary feature on this float that are stored on GDAC "aux" directory.
It could be something other than a sensor.

[2022-04-05 13:32] gmaze opened #95 "Provide standard netcdf attributes for each parameter ?"
Would it be possible to further include in the description of each parameters the attributes we get in Argo netcdf files ?

For instance for TEMP:
[code]

This would be very useful for 3rd party libraries trying to check or double-check data returned by web API such as Ifremer erddap, Euro-Argo dataselection or argovis

[2022-04-05 15:39] vturpin commented on #5
Following @randerson57261 and @matdon17 suggestions, we (OceanOPS) think that separating the two concepts "PROGRAM" and "PROJECT" is a good idea.
"PROGRAM" will be constrain to the list of Argo Program - https://www.ocean-ops.org/api/1/help/?param=program
"PROJECT" will remain free text.

A good definition of both concept should be given. Some already exist:

- https://www.ocean-ops.org/metadata/

[2022-04-06 08:27] vturpin commented on #33
Not sure this question goes here.
What is the process to suggest an evolution of the Argo format ?

I am asking as we are almost reaching an agreement amongst the participant of different issues : #2 and #5 .

Before we start working toward implementation at OceanOPS and NVS, we would like to understand the procedure to have those issues endorse by Argo during the next ADMT ?
My understanding of t

[2022-04-06 08:38] vturpin commented on #2
Rejection should lead to improving and not degrading the meta.file.nc.
But indeed, if the file checker or NVS vocab is not up to date rejection become conterproductive.

Maybe the warning Vs rejection should be align with the approval stage of a new collection ? related to #33 ?

[2022-04-06 09:02] vturpin commented on #2
It seems we are reaching some kind of agreement here :

"The Argo metadata field DEPLOYMENT_PLATFORM can be enhanced with the feature URI. This is human readable and machine readable.
Example:
    DEPLOYMENT_PLATFORM=“Ronald H. Brown uri:<http://vocab.nerc.ac.uk/collection/C17/current/33RO/>"
No uri will lead to a warning in the format checker."

BUT, because is not possible to have "rejection" in

[2022-04-06 09:53] tcarval commented on #2
I my opinion, there is no strict way to oblige users to fill deployment_platform with C17 codes.
What we should do is regular monitoring (twice a year, before admt and ast), list the "good" and the "could be better" DACs
- "good" : more than 90% of deployment_platform with valid C17 uri
- "could be better" : less than 90%
- "why ?" : 0%

[2022-04-06 11:56] vturpin commented on #2
I think this is a monitoring we could do at OceanOPS, modulo some evolution in the index files we are using for such statistics.
We could also set up a metadata QC feedback on ships based on this analysis...

[2022-04-06 12:12] randerson57261 commented on #2
If C17 is a unique list, why are we adding the URI? We don't add the URI in any other field.

If it's a unique list, a user should be able to look up the entry in C17 to get the other associated information.

[2022-04-06 12:26] vpaba commented on #2
Hi @randerson57261, I think the reason we would need both C17 concept ID (URI) alongside the 'preferred label' is that the preferred label is not unique - only the URI is.

This is because a platform may maintain the same name after being decomissioned for e.g. undergoing refurbishment, in which case a new URI would be assigned to it but the 'preferred label' would be the same. Moreover, there may

[2022-04-06 13:29] randerson57261 commented on #2
That makes sense, thank you for the clarification.

Could we use the "Identifier" field (ICES code correct?) instead of the URI? Something like **"Discovery, 74E3"**

An advantage here is that if we have the ICES code for a deployment platform, but it is not yet in C17, it would still be valid metadata even if the file checker throws a warning. In the case that we use the URI, if a platform is not

[2022-04-06 14:17] tcarval commented on #2
If C17 is not (yet) available, you may provide the ICES URI ?
With the uri, you allow machine to machine processes, and for humans, someone who never heard about ICES platform codes or C17 have a full description using the URI .
A URI should permanently identify a resource, even if the resource is moved or deleted.

[2022-04-07 08:51] anthoninlize commented on #2
Simple question: how often C17 sync with SHIPC from ICES? The advantage of using an URI as well is to be able to either fill in the C17 URI (which mirrors SHIPC from ICES) or the SHIPC URI from ICES... Since the URI specifies the namespace, that is not an issue.
And why not then use the SHIPC URI directly ?
SHIPC http://vocab.ices.dk/?ref=315
74E3 http://vocab.ices.dk/?CodeID=127475

[2022-05-04 15:12] SBS-EREHM opened #93 "Reference Table 1 : DATA_TYPE : "Argo meta-data" or "Argo metadata""
The controlled vocab for DATA_TYPE is set in Reference Table 1.  One of the controlled values (ID=META) has a different label definition in the NVS R01 vocab ("Argo metadata") compared to that in the Argo User's Manual, V3.41, page 71: "Argo meta-data".    From a cursory look at some Argo wmoid_meta.nc files, it appears that the Argo User's Manual encoding is used in netCDF files, i.e.,

 DATA_TYP

[2022-05-04 15:32] SBS-EREHM opened #92 "Reference Table 1 : DATA_TYPE "Argo auxiliary meta-data" not in vocabulary"
Argo Auxilary Files also have a metafile, i.e., wmoid_meta_aux.nc.

For the DATA_TYPE field, it is currently populated with "Argo auxiliary meta-data", e.g.,

 DATA_TYPE = "Argo auxiliary meta-data        " ;

This label is not in Argo User's Manual Reference Table 1, p. 71  or the NVS R01 Vocabulary.

Eric Rehm
Sea-Bird Scientific

[2022-05-13 03:28] ksato-aopc opened #120 "Request for addition of new SENSOR_MODEL: SBE41N_V5.3.5"
Hello. We JAMSTEC have deployed a float equipped with SBE41N_V5.3.5 in this year. It is the new version of SBE41N. So, would you add it to the reference table, whose identifier is 'R27'?
Thank you. Kanako

[2022-05-23 09:03] vturpin opened #34 "HM4000 and Xuanwu (HM6000) new entries in R23 and R08"
Last year QNLM (National Lab. for Marine Science and Technology, Qingdao) deployed 9 HM4000 floats in the NW Pacific.
It's a pilot deployment for China Deep Argo. Those floats are equipped with SEB61 and RBR deep CTDs, and some of them
have obtained reliable T/S profiles.
They are now ready to submit observations into GDACs via CSIO DAC.
Could we add HM4000 and HM6000 (i.e. Xuanwu and deep Xuanwu)

[2022-05-23 15:17] vturpin commented on #34
Note that :
Xuanwu is one of China’s Four Sacred Creatures of the Heaven in ancient mythology, consisting of a tortoise and a snake coiling around it. It’s been seen as a symbol of longevity and auspice. Named after this legendary creature, Xuanwu carries the expectation of embracing a steady and sound performance, thus contributing Chinese wisdom to the understanding of the ocean. As “Xuanwu” fol

[2022-06-07 07:38] vturpin commented on #34
Also, I am a bit confused between R08 and R23. I understand than when new platform_type is accepted in R23, A R08 (instrument_type) code must be delivered at the same time ? Do you need extra information on the standard sensor onboard to deliver R08 code ?

[2022-06-07 13:40] #107 closed, assigned to vpaba

[2022-06-13 21:06] mscanderbeg commented on #34
Hi Victor.  R08 is based on WMO codes and is a number whereas R23 is a text field and is maintained by Argo.
I agree to adding HM4000 and HM6000 to R23 to help start the flow of data from these floats.  I admit that I do not know how to get a WMO code added to table 1770 for the HM4000 and HM6000.

[2022-06-14 18:14] apswong commented on #34
Hi Victor.  R08 is a subset of WMO code table 1770.  In the past, when a new platform emerged and we needed a new WMO_INST_TYPE in Ref Table 8 (now R08), Mathieu Belbeoch (in his former capacity at JCOMMOPS) was the person who would request a new code from WMO.  So you may want to ask him how that should be done now.

As an aside: I was told that the current R08, which combines float platform/sens

[2022-06-15 04:51] vturpin commented on #34
Hi Annie, Megan,
Thanks for the inputs, I indeed asked Mathieu and I have a pretty clear procedure to move on with R08.
I agree with you that this is not a very convenient way to go "platform+sensor" and I agree to open an issue to this regard. I think we should include in the discussion the relvant peron at WMO.
My contact is : Anna Milan [amilan@wmo.int](mailto:amilan@wmo.int). I also have this

[2022-06-15 04:57] vturpin commented on #34
@mscanderbeg just to be clear, the request form Zenghong Liu and the QNLM is to name the float "HM4000" and "Xuanwu" following this :
ID           | Pref label                | Alt label
HM4000 | HM4000 float         | HM4000 float
Xuanwu  |  Xuanwu Deep float | HM6000 float

[2022-06-15 05:02] vturpin opened #35 "Re-thinking R08 granularity"
The current R08 combines float platform/sensor. It is not a good way to go, as it is multiplying the need for new codes (e.g. instead of one code for APEX floats, we now have APEX with SBE, APEX with RBR, etc.).

How can we rethink this approach, in collaboration with WMO people.

Contact and links :
Anna Milan [amilan@wmo.int](mailto:amilan@wmo.int). https://github.com/wmo-im/CCT/issues/24
Curren

[2022-06-15 05:05] vturpin opened #104 "SBE61 on HM4000 and Xuanwu"
QNLM and China Argo Data Center is deploying new type of deep floats with SBE61.

Could a new code be created for HM4000 with an SBE61 and "Xuanwu" with a SBE61?

[2022-06-15 08:18] apswong commented on #35
We should remember that R08 is a subset of WMO code table 1770, which contains codes that describe the instruments make and type for transmitting their data on the GTS.  It does look like to fully describe an instrument, one would need to specify its platform (float/glider/XBT/etc) and its sensor (SBE/RBR/FSI/etc). However, it also looks like there are only about 60 unused codes left in WMO code t

[2022-06-16 10:03] vpaba commented on #34
Hi @vturpin, @mscanderbeg and @apswong,

Thanks for the comments and discussion. We should absolutely go ahead and create HM4000 and Xuanwu in R23.

One thing that's not yet clear to me is the associated PLATFORM_TYPE_KEY code. This is currently captured in the description fields for each R23 term (http://vocab.nerc.ac.uk/collection/R23/current/)

My first question is whether this is something sti

[2022-06-16 10:48] vpaba opened #111 "Create new R23 entries for HM4000 and XUANWU floats"
Create new R23 entries for HM4000 and XUANWU floats, manufactured by QNLM (Qingdao National Laboratory for Marine Science and Technology)

Issue originally raised by @vturpin in https://github.com/nvs-vocabs/ArgoVocabs/issues/34, and linked with https://github.com/nvs-vocabs/ArgoVocabs/issues/113

[2022-06-16 10:51] #111 closed, assigned to vpaba

[2022-06-16 10:52] vpaba opened #113 "Create R24 entry for QNLM (Qingdao National Laboratory for Marine Science and Technology)"
Create R24 entry for QNLM (Qingdao National Laboratory for Marine Science and Technology)

Issue associated with the one originally raised by @vturpin in https://github.com/nvs-vocabs/ArgoVocabs/issues/34, and linked with https://github.com/nvs-vocabs/ArgoVocabs/issues/111

[2022-06-16 10:54] #113 closed, assigned to vpaba

[2022-06-16 10:58] vpaba commented on #34
Hello, please note that the two R23 entries were created, alongside a new R24 (platform maker) entry. These are described in GitHub issues https://github.com/nvs-vocabs/R23/issues/2 and https://github.com/nvs-vocabs/R24/issues/1.

Once we know about the PLATFORM_TYPE_KEY code for the new R23 entries, I will update their description accordingly.

Will leave this issue open until we have the new ent

[2022-06-23 16:36] tlmaurer opened #47 "Expansion of the pH SENSOR_MODEL names, with potential firmware version specification"
Hello,

The current SENSOR_MODEL definitions for pH sensors on BGC-Argo floats are currently limited to "DURA" (MBARI) and "SEAFET" (SEABIRD) within the Argo system.  Both MBARI and SBS have upgraded pH sensor types in development (Gasket DuraFET, and pressure-compensated pH sensor, respectively), with a limited number already deployed on floats in the testing phase.  There is thus a need to expan

[2022-06-27 12:38] apswong opened #46 "move CNDC to be an intermediate core parameter"
I would like to propose moving CNDC to be an "intermediate core" parameter.  This proposal is supported by @cabanesc and @coatanoan.

CNDC is by nature an intermediate parameter, being an input to compute salinity. Most floats do not return this parameter; only some floats from the early days of Argo, and some experimental floats, do so. For the floats that do return CNDC, delayed-mode operators n

[2022-07-08 11:52] tcarval commented on #34
**Message for Thierry to Zenhong and Victor**

Hello Zenghong and Victor,
Thank you for the sample files.
You are correct, the WMO instrument code 870 is not for HM4000 or HM6000 (according to the format checker, it is for NAMI).
Victor, can we assume that the new WMO instrument codes will be 881/HM4000 and 882/HM6000 ?
I also added a new entry in ref_table-27 for SBE61CP_V7.2.5

Zenghong, is the

[2022-07-08 13:44] vturpin commented on #34
Hi Thierry, Zenghong,

I pushed this issue on the appropriate location :  https://github.com/wmo-im/CCT/issues/110
I suggest we move on with those entries and see when they are accepted.

Previous request took about 4 month to be accepted.

[2022-07-17 13:08] tcarval commented on #34
Message from Zenghong
The manufacturer of HM4000 and HM6000 (deep Xuanwu) will be changed from HSOE to QNLM.

[2022-07-17 13:34] tcarval commented on #34
It will not be possible to change the manufacturer from HSOA to QNLM; if you want to have both possibilities (HSOA for now and QNLM in the future), we'll have to create a new instrument code for QNLM floats.

[2022-07-17 15:39] tcarval commented on #34
The file format checker on Coriolis side is updated to accept Xuanwu files.
The new entries in the reference tables are:

**ref_table-23**
HM4000 | 700 | 881 | HSOE | Xuanwu float manufactured by HSOE for QNLM - Qingdao Pilot National Laboratory for Marine Science and Technology |
HM6000 | 700 | 882 | HSOE | Xuanwu deep float manufactured by HSOE for QNLM - Qingdao Pilot National Laboratory for Ma

[2022-07-17 19:22] tcarval commented on #34
Remaining actions

- Mike to install new reference tables on US GDAC
- - Victor to ensure that instruments 881 and 882 are declared on WMO vocabulary server

[2022-07-18 09:56] tcarval opened #36 "Xuanwu float new maker : QNLM instead of HSOE"
**Message from Zenghong**
Both HM4000 and Xuanwu are manufactured by QNLM now.

[2022-09-02 02:51] ksato-aopc opened #37 "Please add SBE41N_v5.3.5 in R27"
A float (WMO: 2903666) with SBE41N_v5.3.5 deployed in 2021 had been inactive, so we added END_MISSION_DATE to its metafile and sent it to GDAC. But it was rejected by File Checker because SBE41N V5.3.5 was not in R27. Please add SBE41N_v5.3.5 to R27.
Thank you.
Kanako SATO (JAMSTEC)

[2022-10-21 15:58] tcarval commented on #37
The sensor is now added in R27 table.
The File format checker V2.7.5 now accepts this sensor.

[2022-10-21 15:58] #37 closed

[2022-10-24 00:22] ksato-aopc commented on #37
@tcarval Thank you very much.

[2022-10-27 10:14] vturpin opened #110 "Create Jumbo floats entries"
2 new type of floats are requested here :

- PROVOR_V - Jumbo
- PROVOR_III - Jumbo

One of them is already at sea.

Could you let me know what is needed to describe the platform type ?

[2022-11-08 12:59] catsch opened #48 "ECO_FLBBFL"
Hi all,

a new ensemble for an ECO3 sensor is at sea, here are the suggestions of Seabird,
ECO_FLBBFL
ECO FLBBFL sensor package with two chlorophyll fluorometers and one scattering meter,

Description

A three-channel optical sensor fitted with two single-wavelength chlorophyll fluorometers and a single-angle scattering meter, depth-rated to 2000 m and designed for float applications. The two fluo

[2022-11-22 12:03] tcarval opened #38 "How to record an Argo float ASD - Abrupt Salty Drift"
A series of floats are concerned with ASD : the Abrupt Salinity Drift of their salinity sensor. See https://argo.ucsd.edu/argo-salty-drift-salinity-data-issue-notice-2021/

To identify these floats, this proposal recommends to store the ASD information in  :

- the float metadata file, variable ANOMALY, in the "csv" with two possible anomalies
  - **ASD-AbruptSalinityDrift:Confirmed**
    - This f

[2022-11-22 14:19] tcarval commented on #38
Les disques iota1 et iota2 sont redevenus disponibles vers 14:00
Le sendmail de voo-curacao a été réactivé vers 15:10, il avait mis en attente 1200 messages de données
Les 14 crontab Coriolis ont été réactivées vers 15:15
Il n'a pas été utile de redémarrer les 14 serveurs Coriolis.

[2022-11-25 09:00] delphinedobler commented on #38
I think the naming you propose fine. I was wondering whether we should add something indicating the cycle when it began, such as ASDAnomalyStartCycle:xx .
The second item is the choice of colon to separate anomalies. If we ensure that namings of anomalies are constraint never to use colon, then it is fine. The same comment if we used semi-colon ";". I sometimes use the pipe sign "|", which has les